<h1> Cloning Bitly</h1>
<form action="/new_url" method="post">
 	Make your URL shorter:
  <br>
  <input type="text" name="user_url">
  <input type="submit" value="send">
</form>

<%	@url_view.each do |list_item|%>
	<ul>
		<li><p> Original URL </p><%= list_item.url %></li>
		<li>Short URL<a href="<%= list_item.short_url %>"><%= list_item.short_url %></a></li>
	</ul>
<%	end %>
